<div class="contacts" id="contacts">
  <div class="container">
    <div class="mainheading">контакты</div>
    <div class="contacts-form form">
      <form action="">
        <div class="row">
          <div class="col-sm-4 contacts-col">
            <div class="form-field"><input type="text" placeholder="Имя" class="form-control input-lg"></div>
            <div class="form-field"><input type="email" placeholder="Email" class="form-control input-lg"></div>
            <div class="form-field"><input type="text" placeholder="Телефон" class="form-control input-lg"></div>
          </div>
          <div class="col-sm-4 contacts-col">
            <div class="form-field"><textarea name="" rows="4" placeholder="Сообщение" class="form-control input-lg"></textarea></div>
            <div class="form-field">
              <select name="" id="" class="">
                <option value="Бюджет">Бюджет</option>
                <option value="1000">>1000 $</option>
                <option value="1500">1500 $</option>
                <option value="2000">2000 $</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4 contacts-col">
            <div class="form-upload text-center">
              <span class="btn btn-default btn-gray btn-lg">
                  <i class="icon icon-clip"></i>
                  <span>Прикрепить файл</span>
                  <input name="file" id="upload" type="file" multiple class="file-loading">
              </span>
              <div class="form-upload-area">
                <p class="form-upload-empty">Перетащите файлы сюда ваши файлы,
                  что бы загрузить их на сайт <br>
                  (файл не должен превышать 25 Мб)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center form-btn"><button class="btn btn-primary btn-lg">Отправить</button></div>
      </form>
    </div>
  </div>
</div>
