    <div class="footer_placeholder"></div>
    <footer class="footer">
        <a href="#" class="footer-up"><i class="fa fa-angle-double-up"></i></a>
        <div class="container">
          <div class="row">
            <div class="footer-contacts col-sm-4">
              <i class="fa fa-map-marker"></i>
              <div class="contacts-content">
                <p><b>Офис в Латвии:</b><br>
                  Plienciema 16, Mārupe, Latvija. LV-2167 <br>
                </p>
                <p><b>Центр разработок:</b><br>
                  Украина, г. Хмельницкий,<br>
                  ул. Заречанская, 5/3, офис 319
                </p>
              </div>
            </div>
            <div class="footer-contacts col-sm-3">
              <i class="fa fa-mobile-phone"></i>
              <div class="contacts-content">
                <p><a href="tel:+37128457553">+371 28457553</a></p>
              </div>
            </div>
            <div class="footer-contacts col-sm-3">
              <i class="fa fa-envelope"></i>
              <div class="contacts-content">
                <p><a href="mailto:info@artcom">info@artcom</a></p>
              </div>
            </div>
            <div class="footer-contacts col-sm-2">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="footer-bottom text-center col-sm-12"><p>© Artcom, 2003-2016</p></div>
          </div>
        </div>
    </footer>
    <link rel="stylesheet" type="text/css" href="css/bower.css" media="all" />
    <script src="js/bower.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>

