<div class="modal fade" id="popup-portfolio-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="slider-for">
              <div><img src="http://placehold.it/700x466/ffdd00/000000?text=1" alt=""></div>
              <div><img src="http://placehold.it/700x466/3c3c3c/ffffff?text=2" alt=""></div>
              <div><img src="http://placehold.it/700x466/ffdd00/000000?text=3" alt=""></div>
              <div><img src="http://placehold.it/700x466/3c3c3c/ffffff?text=4" alt=""></div>
              <div><img src="http://placehold.it/700x466/ffdd00/000000?text=5" alt=""></div>
              <div><img src="http://placehold.it/700x466/3c3c3c/ffffff?text=6" alt=""></div>
              <div><img src="http://placehold.it/700x466/ffdd00/000000?text=7" alt=""></div>
              <div><img src="http://placehold.it/700x466/3c3c3c/ffffff?text=8" alt=""></div>
            </div>
            <div class="slider-nav">
              <div><img src="http://placehold.it/98x66/ffdd00/000000?text=1" alt=""></div>
              <div><img src="http://placehold.it/98x66/3c3c3c/ffffff?text=2" alt=""></div>
              <div><img src="http://placehold.it/98x66/ffdd00/000000?text=3" alt=""></div>
              <div><img src="http://placehold.it/98x66/3c3c3c/ffffff?text=4" alt=""></div>
              <div><img src="http://placehold.it/98x66/ffdd00/000000?text=5" alt=""></div>
              <div><img src="http://placehold.it/98x66/3c3c3c/ffffff?text=6" alt=""></div>
              <div><img src="http://placehold.it/98x66/ffdd00/000000?text=7" alt=""></div>
              <div><img src="http://placehold.it/98x66/3c3c3c/ffffff?text=8" alt=""></div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>3ade</h3>
            <h5>CUSTOM WEBSITES</h5>
            <div class="portfolio-detail">
              <p>Мы - компания, которая предлагает не просто создание и продвижение сайтов. В первую очередь мы работаем с людьми и стремимся сделать эту работу комфортной для своих клиентов.</p>
              <a href="#"><i class="fa fa-share-square-o"></i> 3ade.lv</a>
            </div>
            <div class="portfolio-shared">
              <div class="portfolio-shared-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                  <span>1</span>
                </a>
              </div>
              <div class="portfolio-shared-item">
                <a href="#">
                  <i class="fa fa-vk"></i>
                  <span>22</span>
                </a>
              </div>
              <div class="portfolio-shared-item">
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                  <span>333</span>
                </a>
              </div>
              <div class="portfolio-shared-item">
                <a href="#">
                  <i class="fa fa-pinterest"></i>
                  <span>4444</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

