<div class="portfolio">
	<div class="container">
		<div class="mainheading">Портфолио</div>
		<div class="portfolio-pane">
			<nav class="portfolio-nav navbar-default">
				<ul class="nav navbar-nav">
				  <li class="active"><a href="#" data-filter="*">Все</a></li>
				  <li><a href="#" data-filter=".landing">Лендинг</a></li>
				  <li><a href="#" data-filter=".shop">Интернет-магазин</a></li>
				  <li><a href="#" data-filter=".corporate">Корпоративный</a></li>
				</ul> 
			</nav>
			<div class="portfolio-list">
				<div class="portfolio-sizer col-sm-4"></div>
				@@include('./_portfolio-item.html', {
				    "category": "corporate",
				    "img": "portfolio-1.png",
				    "title": "3ade",
				    "cat": "Custom websites"
				 })
				@@include('./_portfolio-item.html', {
				    "category": "corporate",
				    "img": "portfolio-2.png",
				    "title": "Boleo sport",
				    "cat": "Description"
				 })
				@@include('./_portfolio-item.html', {
				    "category": "landing",
				    "img": "portfolio-3.png",
				    "title": "title",
				    "cat": "Description"
				 })
				@@include('./_portfolio-item.html', {
				    "category": "landing",
				    "img": "portfolio-4.png",
				    "title": "title",
				    "cat": "Description"
				 })
				@@include('./_portfolio-item.html', {
				    "category": "shop",
				    "img": "portfolio-5.png",
				    "title": "title",
				    "cat": "Description"
				 })
				@@include('./_portfolio-item.html', {
				    "category": "landing",
				    "img": "portfolio-6.png",
				    "title": "title",
				    "cat": "Description"
				 })
			</div>
			<a href="#" class="btn btn-primary btn-lg">загрузить еще</a>
		</div>
	</div>
</div>