<div class="process">
	<div class="container">
		<div class="mainheading">
			процес
			<div class="subheading">Порядок разработки проектов</div>
		</div>
		<div class="process-list row">
			<div class="process-item col-sm-4">
				<div class="process-item-inner">
					<div class="process-item-image"><img src="img/process-1.png" alt=""></div>
					<div class="process-item-title">1. ваша идея</div>
				</div>
			</div>
			<div class="process-item col-sm-4">
				<div class="process-item-inner">
					<div class="process-item-image"><img src="img/process-2.png" alt=""></div>
					<div class="process-item-title">2. наше проектирование</div>
				</div>
			</div>
			<div class="process-item col-sm-4">
				<div class="process-item-inner">
					<div class="process-item-image"><img src="img/process-3.png" alt=""></div>
					<div class="process-item-title">3. ваша прибыль</div>
				</div>
			</div>
		</div>
	</div>
</div>