<div class="services section" id="services">
  <div class="container">
    <div class="mainheading">Услуги</div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="services-nav">
          <div class="row">
            <div class="services-item col-sm-2 col-xs-4 active">
              <a href="#">
                <div class="services-item-image"><i class="icon sprite sprite-service-1"></i></div>
                <p>Web Development</p>
              </a>
            </div>
            <div class="services-item col-sm-2 col-xs-4">
              <a href="#">
                <div class="services-item-image"><i class="icon sprite sprite-service-2"></i></div>
                <p>Mobile Development</p>
              </a>
            </div>
            <div class="services-item col-sm-2 col-xs-4">
              <a href="#">
                <div class="services-item-image"><i class="icon sprite sprite-service-3"></i></div>
                <p>Software Development</p>
              </a>
            </div>
            <div class="services-item col-sm-2 col-xs-4">
              <a href="#">
                <div class="services-item-image"><i class="icon sprite sprite-service-4"></i></div>
                <p>Dedicated Team</p>
              </a>
            </div>
            <div class="services-item col-sm-2 col-xs-4">
              <a href="#">
                <div class="services-item-image"><i class="icon sprite sprite-service-5"></i></div>
                <p>Support Outsourcing</p>
              </a>
            </div>
            <div class="services-item col-sm-2 col-xs-4">
              <a href="#">
                <div class="services-item-image"><i class="icon sprite sprite-service-6"></i></div>
                <p>Mobile Development</p>
              </a>
            </div>
          </div>
        </div>
        <div class="services-slider">
          <div class="row">
            <div class="services-slider-text col-sm-6">
              <h5>web Development</h5>
              <p>Реализация проекта в полном объеме, с учетом всех его специфик и характеристики целевой аудитории. Для
              достижения конкретных целей и решения поставленных задач, будут задействованы разного рода инструменты.
              </p>
              <a href="#" class="detail">Читать больше <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="services-slider-image col-sm-6"><img src="img/content-img-1.png" alt=""></div>
          </div>
          <div class="row">
            <div class="services-slider-text col-sm-6">
              <h5>Mobile Development</h5>
              <p>2</p>
              <a href="#" class="detail">Читать больше <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="services-slider-image col-sm-6"><img src="img/content-img-1.png" alt=""></div>
          </div>
          <div class="row">
            <div class="services-slider-text col-sm-6">
              <h5>Software Development</h5>
              <p>3</p>
              <a href="#" class="detail">Читать больше <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="services-slider-image col-sm-6"><img src="img/content-img-1.png" alt=""></div>
          </div>
          <div class="row">
            <div class="services-slider-text col-sm-6">
              <h5>Dedicated Team</h5>
              <p>4</p>
              <a href="#" class="detail">Читать больше <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="services-slider-image col-sm-6"><img src="img/content-img-1.png" alt=""></div>
          </div>
          <div class="row">
            <div class="services-slider-text col-sm-6">
              <h5>Support Outsourcing</h5>
              <p>5</p>
              <a href="#" class="detail">Читать больше <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="services-slider-image col-sm-6"><img src="img/content-img-1.png" alt=""></div>
          </div>
          <div class="row">
            <div class="services-slider-text col-sm-6">
              <h5>Mobile Development</h5>
              <p>6</p>
              <a href="#" class="detail">Читать больше <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="services-slider-image col-sm-6"><img src="img/content-img-1.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
